<div class='row'>
  <div class='container'>
      <button type="submit" class="btn btn-default"><a href='/books/newBook'>Add a book</a></button>
      <div class="panel panel-default">
        {{#each postDetails}}
          <div class='row' id="postDetails">
            <div class='col-md-4'>
              <img src={{this.coverimgurl}}>
            </div>
            <div class='col-md-8'>
              <h3><a href='/books/{{this.book_id}}'>{{this.title}}</a>
              </h3>
              <h4>{{this.firstname}} {{this.lastname}}</h4>
              <p>{{this.genre}}</p>
              <p>{{this.description}}</p>
            </div>
          </div>
        {{/each}}
      </div>
  </div>
</div>
