<div class='row'>
  <div class='container'>
      <div class="panel panel-default">

          <div class='row' id="author">
            <div class='col-md-4'>
              <img src={{author.portraiturl}}>
            </div>
            <div class='col-md-8'>
              <h3><a href="/authors/{{author.author_id}}">{{author.firstname}} {{author.lastname}}</a>
                <div class="btn-group" role="group" aria-label="..." style="float:right">
                  <button type="submit" class="btn btn-default"><a href="/authors/{{author.author_id}}/editAuthor">Edit</a></button>
                  <form action='/authors/{{author.author_id}}/delete' method='post'>
                    <button type="submit" class="btn btn-default">Delete</button>
                  </form>
                </div>
              </h3>
              <p>{{author.biography}}</p>
              <ul>
                <li><a href='/books/{{author.book_id}}'>{{author.title}}</a></li>
              </ul>
            </div>
          </div>

      </div>
  </div>
</div>
