<div class='container'>
  <form class="" action="/authors/newAuthor" method="post">
    <div class="form-group">
      <label for="firstname">First Name</label>
      <input type="text" class="form-control" value="{{postDetails.firstname}}" name="firstname">
    </div>
    <div class="form-group">
      <label for="lastname">Last Name</label>
      <input type="text" class="form-control" value="{{postDetails.lastname}}" name="lastname">
    </div>
    <div class="form-group">
      <label for="portraiturl">Portrait Url</label>
      <input type="text" class="form-control" value="{{postDetails.portraiturl}}" name="portraiturl">
    </div>
    <div class="form-group">
      <label for="biography">Biography</label>
      <input type="text" class="form-control" value="{{postDetails.biography}}" name="biography">
    </div>
    <div class="form-group">
      <label for="books">Books</label>
      <textarea class="form-control" rows="3" value={{postDetails.book}} name='book'></textarea>
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
    <button type="cancel" class="btn btn-default">Cancel</button>

  </form>
</div>
