<div class='container'>
  <form class="" action="/books/newBook" method="post">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" value="{{postDetails.title}}" name="title" placeholder={{title}}>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea type="text" class="form-control" rows="5" value="{{postDetails.description}}" name="description" placeholder={{description}}></textarea>
    </div>
    <div class="form-group">
      <label for="coverimgurl">Cover Img Url</label>
      <input type="text" class="form-control" value="{{postDetails.coverimgurl}}" name="coverimgurl" placeholder={{coverimgurl}}>
    </div>
    <div class="form-group">
      <label for="genre">Genre</label>
      <input type="text" class="form-control" value="{{postDetails.genre}}" name="genre" placeholder={{genre}}>
    </div>

    <button type="submit" class="btn btn-default">Submit</button>
    <button type="cancel" class="btn btn-default">Cancel</button>

  </form>
</div>
