<%- include _header.ejs %>


    <form method="post" action="/users/signup">
    <ul>
    	<li><h3>Username: </h3><input type="text" name="username" value="<%= data.username %>"</li>
      <li><h3>Email: </h3><input type="text" name="email" value="<%= data.email %>"</li>
      <li><h3>Phone: </h3><input type="text" name="phone" value="<%= data.phone %>" ></li>
      <li><h3>First Name: </h3><input type="text" name="first_name" value="<%= data.first_name %>"</li>
      <li><h3>Last Name: </h3><input type="text" name="last_name" value="<%= data.last_name %>" ></li>
      <li><h3>Password: </h3><input type="password" name="password" value="<%= data.password %>" ></li>
      <li><h3>Password Check: </h3><input type="password" name="passwordcheck" value="<%= data.password %>" ></li>
    	<li><button type="submit">Submit</button></li>
    </ul>
    </form>

    <div class="errors">
        <% for (var i in errors ) { %>
          <%- errors[i] %><br/>
        <% } %>
    </div>
    

<%- include _footer.ejs %>