<div class='row'>
  <div class='container'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="panel panel-default">
        <div class="panel-heading">BlueIt</div>
        <table class="table" id="postDetails">
          <tr id="trHead">
            <td>ID</td>
            <td>Title</td>
            <td>Content</td>
            <td>Category</td>
            <td>User ID</td>
          </tr>
            <tr>
              <td>{{id}}
              </td>
              <td>{{title}}
              </td>
              <td>{{content}}
              </td>
              <td>{{category}}
              </td>
              <td>{{user_id}}
              </td>
              <td><button type="submit" class="btn btn-default"><a href={{editAuthor}}>Edit</a></button>
              </td>
              <td>
                <form class="" action='{{deleteLink}}' method='post'>
                <button type="submit" class="btn btn-default"><a href={{deleteLink}}>Delete</a></button>
              </td>
            </tr>
        </table>
      </div>
    </div>
    <div class='col-md-2'>
    </div>
  </div>
</div>
