<div class='row'>
  <div class='container'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="panel panel-default">
        <div class="panel-heading">BlueIt</div>

        <table class="table" id="postDetails">
          <tr id="trHead">
            <td>ID</td>
            <td>Title</td>
            <td>Content</td>
            <td>Category</td>
            <td>User ID</td>
          </tr>
          {{#each postDetails}}
            <tr>
              <td><a href='/{{this.id}}'>{{this.id}}</a>
              </td>
              <td>{{this.title}}
              </td>
              <td>{{this.content}}
              </td>
              <td><a href='/{{this.category}}'>{{this.category}}</a>
              </td>
              <td>{{this.user_id}}
              </td>
            </tr>
          {{/each}}
        </table>

      </div>
    </div>
    <div class='col-md-2'>
    </div>
  </div>
</div>
