<div class='row'>
  <div class='container'>
    <div class='col-md-1'></div>
    <div class='col-md-10'>
      <div class="panel panel-default">
        <div class="panel-heading">Restaurants</div>

        <table class="table" id="restaurantDetails">
          <tr id="trHead">
            <td>Name</td>
            <td>City</td>
            <td>State</td>
            <td>Cuisine</td>
            <td>Rating</td>
            <td>Bio</td>
          </tr>
          {{#each restaurantDetails}}
            <tr>
              <td><a href='/{{this.name}}'>{{this.name}}</a>
              </td>
              <td>{{this.city}}
              </td>
              <td>{{this.state}}
              </td>
              <td>{{this.cuisine}}
              </td>
              <td>{{this.rating}}
              </td>
              <td>{{this.bio}}
              </td>
              <td><button type="submit" class="btn btn-default"><a href="/edit">Edit</a></button>
              </td>
              <td>
                <form class="" action='/' method='post'>
                <button type="submit" class="btn btn-default">Delete</button>
              </td>
            </tr>
          {{/each}}
        </table>
      </div>
    </div>
    <div class='col-md-1'></div>
  </div>
</div>
