<div class='row'>
  <div class='container'>
    <div class='col-md-2'></div>
    <div class='col-md-8'>
      <div class="panel panel-default">
        <div class="panel-heading">Restaurants</div>
        <table class="table" id="restaurantDetails">
          <tr id="trHead">
            <td>Name</td>
            <td>City</td>
            <td>State</td>
            <td>Cuisine</td>
            <td>Rating</td>
            <td>Bio</td>
          </tr>
            <tr>
              <td>{{name}}
              </td>
              <td>{{city}}
              </td>
              <td>{{state}}
              </td>
              <td>{{cuisine}}
              </td>
              <td>{{rating}}
              </td>
              <td>{{bio}}
              </td>
            </tr>
        </table>
      </div>
    </div>
    <div class='col-md-2'></div>
  </div>
</div>


<li><a href="/edit">Edit</a></li>
